.cb
{
clear:both;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}



img
{
border:0;
}

.tlink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.tlink:link {
	text-decoration: none;
	color: #FFFFFF;
}

.tlink:visited {
	text-decoration: none;
	color: #FFFFFF;
}

.tlink:hover {
	text-decoration: none;
	color: #CCCCCC;
}

html,body {
	margin: 0;
	padding: 0;
	width:100%;
}


p {
	margin: 0 10px 10px
}

/*
a{display:block;color: #981793;padding:10px}
*/
div#header h1 {
	margin: 0;
	padding-left: 10px;
	/*background: #EEE;*/
	color: #79B30B
}

div#container{
	 width:100%;
	/* max-width:1270px;*/
	/* min-width:1410px;*/
}

* html div#container {width: 1400px /* fallback value */;
width:expression(((document.compatMode && 
document.compatMode=='CSS1Compat') ? 
document.documentElement.clientWidth : 
document.body.clientWidth) 
< 1280 ? "1400px" : (((document.compatMode && 
document.compatMode=='CSS1Compat') ? 
document.documentElement.clientWidth : 
document.body.clientWidth) < 1152 ? "1400px" : "100%")); 
}

div#content p {
	line-height: 1.4
}

div#navigation {
	background: #B9CAFF;
}



div#footer {background: #335533;color: #FFF}
div#footer p{margin:0;padding:5px 10px}

div#wrapper {
	float: left;
	width: 100%;
	margin-left: -200px;
	margin-right: 10px;
}

div#content {
	margin-left: 230px;
	margin-right: 290px;
}

div#nav {
	float:left;
	clear:both;width:211px;
	background-color:#ECF4FE;
	}


div#footer {
	clear: both;
	width: 100%
}

.rich-table-cell {
	padding: 2px;
}
.rich-panel{
border:0px;
padding:0px;
margin:0px;
}

.rich-panel-body {
	padding: 0px;
	
}

.dr-sdt-hcbody{
font-weight:bold;
background-color:#CAD9F1;
color:#022D64;
}

.dr-sdt-bcbody {
	padding-left:5px;
}
input.filterTextBox {
	border: 1px solid #919191;
	margin: 0px;
}

input.disablefilterTextBox {
	border: 1px solid #919191;
	margin: 0px;
}

select {
	border: 1px solid #919191;
	margin: 2px;
}

.topAlignClass {
	vertical-align: top;
}

.bottomAlignClass {
	vertical-align: bottom;
}

.rich-cm-attached {
	overflow: visible;
}

.rich-sdt-column-cell {
	padding: 2px 0px 2px 0px;
}

.rich-stglpanel {
	margin: 3px 2px 2px 0px
}

.class_width60 {
	width: 60%;
}

.class_width40 {
	vertical-align: top;
	width: 40%;
}

.class_width30 {
	vertical-align: top;
	width: 30%;
}

.string-cell {
	text-align: center;
}

.numeric-cell {
	text-align: right;
}

/*
.dr-sdt-bc{
	padding: 2px;
}*/ /*
.dr-sdt-bcbody{
	margin: 5px;
}*/
.d2-row-alternate-1 {
	
}

.d2-row-alternate-2 {
	background-color: #E8EAF4;
}

.d2-row-alternate-3 {
	font-weight: bold;
}
  

.saveFilterClass {
	width: 25%;
	vertical-align: top;
}

.saveMemberListClass {
	width: 25%;
	vertical-align: top;
}

#main {
	margin: 0;
	/*margin:0.4em 0pt 0pt;*/
	width:auto; padding:0 2px;
	border-bottom:1px solid #617871;
	}

#nav1 {
	float: left;
	margin: 0;
	/*margin:1em 0pt 0pt 10px;*/
	width: 190px;
}

#nav.hide-nav {
	display: none;
}

.topAlignClass {
	vertical-align: top;
}

#nav-toggler1 {
	background: #FFFFFF url(../images/arrow-left.gif) no-repeat scroll center;
	border-color: -moz-use-text-color #FFFFFF -moz-use-text-color
		-moz-use-text-color;
	/*border-style:none dotted none none;*/
	border-width: 0pt 1px 0pt 0pt;
	cursor: pointer;
	/*float:left;*/ /*margin:1em 3px 0pt 1px;*/
	width: 6px;
	margin: 0pt;
}

#nav-toggler.hover {
	background-color: #e3e3e3;
}

#wrapper.hide-nav {
	margin-left: -20px;
}

#content.hide-nav {
	margin-left: 20px;
}

#nav-toggler.hide-nav {
	background-image: url(images/arrow-right.gif);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	margin: 0pt;
	width: 8px;
}

#chrome { /*padding-top:1em;*/ /*float:left;*/
	
}

.rich-toolbar-item {
	padding: 2px 3px;
	
}

.rich-stglpanel-body {
	padding: 2px;
}

.button {
	border: 1px solid;
}
.messages{display:block}
.messages *{
  display:block;
  height:1px;
  overflow:hidden;
  font-size:.01em;
  background:#FFF1A8}
.messages1{
  margin-left:3px;
  margin-right:3px;
  padding-left:1px;
  padding-right:1px;
  border-left:1px solid #fff8d9;
  border-right:1px solid #fff8d9;
  background:#fff4bd}
.messages2{
  margin-left:1px;
  margin-right:1px;
  padding-right:1px;
  padding-left:1px;
  border-left:1px solid #fffdf6;
  border-right:1px solid #fffdf6;
  background:#fff3b8}
.messages3{
  margin-left:1px;
  margin-right:1px;
  border-left:1px solid #fff3b8;
  border-right:1px solid #fff3b8;}
.messages4{
  border-left:1px solid #fff8d9;
  border-right:1px solid #fff8d9}
.messages5{
  border-left:1px solid #fff4bd;
  border-right:1px solid #fff4bd}
.messagesfg{
  background:#FFF1A8}
  
  
  
    /********** css updates 10 june 2008 ******/
  
  .rich-toolbar {
	background-image: url(../images/mainmenubg.gif);
	background-position:bottom;
	background-color:#0C4178;
	font-size: 10px;
	padding: 0;
	margin:0;
	border: 0;
	height: 26px;
	width:100%;
}
.rich-toolbar-item {
	color: #fff;
	/*padding:0;/* 2px 3px;*/
	border-right: 1px solid #AFBED4;
	cursor: hand;
	text-align:center;
	
}

.dr-toolbar-int {
	color: #003064;
	text-decoration: none;
	padding:0px;
	font-size: 11px;
	border:0;
	cursor:pointer;
}

a.dr-toolbar-int:link, a.dr-toolbar-int:visited, a.dr-toolbar-int:active {
	color: #003064;
	text-decoration: none;
	/*padding: 0px 5px;*/
	font-size: 11px;
	white-space: normal;
	padding:3px 0px;
	display:block;
}

a.dr-toolbar-int:hover {
	color: #003066;
	text-decoration: underline;
	/*padding: 0px 5px;*/
	font-size: 11px;
}

.d2_toolBar_item {
	font-size:12px;
	color: #fff;
	margin: 0;
	height: 26px;
	line-height:26px;
	display:block;
	padding:0 10px;
	text-align: center;
	cursor:pointer;
}

a.d2_toolBar_item:link,a.d2_toolBar_item:active,a.d2_toolBar_item:visited
	{
	color: #fff;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
}

.d2_toolBar_item_hover {
	text-align: center;
	padding: 0;
	height: 26px;
	cursor: pointer;
	padding: 0px 10px;
	color: #000;
	background-image: url(../images/mainmenubg-over.gif);
	background-position:bottom;
	background-color:#F3944E;
}

.rich-table-subheadercell {
	padding: 2px 0px;
	/*line-height: 20px;*/
	color: #022D64;
	background-color: #CAD9F1;
	border: 1px solid #9BC0EC;
	vertical-align: bottom;
	text-align:center;
}
.rich-table-headercell{
	padding: 2px 2px;
	/*line-height: 20px;*/
	color: #022D64;	
	border: 1px solid #9BC0EC;
	vertical-align: middle;
	text-align:center;
	
}

.d2-link-customize {
	background-image: url(../images/ico-customize.gif);
	background-repeat: no-repeat;
	color: #fff;
	text-decoration: none;
	background-position:10px 50%;
	padding-left: 30px;
	padding-right:10px;
	height: 26px;
	line-height:26px;
	display:block;
	font-size:12px;
}

.d2-link-customize-hover{
	text-decoration: none;
	color:#000;
	cursor:pointer;
	background-color:orange;
	
}

.d2-link-help {
	background-image: url(../images/ico_help.gif);
	background-repeat: no-repeat;
	color: #fff;
	text-decoration: none;
	background-position:10px 50%;
	padding-left: 30px;
	padding-right:10px;
	height: 26px;
	line-height:26px;
	display:block;
	font-size:12px;
}

a.d2-link-help:link, a.d2-link-help:active, a.d2-link-help:visited
	{
	
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

a.d2-link-help:hover {
	text-decoration: none;
	color:#000;
	cursor:pointer;
	background-color:orange;
	
}

.d2-link-preference {
	background-image: url(../images/preference-icon.gif);
	background-repeat: no-repeat;
	color: #fff;
	text-decoration: none;
	background-position:10px 50%;
	padding-left: 30px;
	padding-right:10px;
	height: 26px;
	line-height:26px;
	display:block;
	font-size:12px;
}
.d2-link-lite {
	background-image: url(../images/lite-icon.jpg);
	background-repeat: no-repeat;
	color: #fff;
	text-decoration: none;
	background-position:10px 50%;
	padding-left: 30px;
	padding-right:10px;
	height: 26px;
	line-height:26px;
	display:block;
	font-size:12px;
}
.d2-link-home {
	background-image: url(../images/home.jpg);
	background-repeat: no-repeat;
	color: #fff;
	text-decoration: none;
	background-position:10px 50%;
	padding-left: 30px;
	padding-right:10px;
	height: 26px;
	line-height:26px;
	display:block;
	font-size:12px;
}

a.d2-link-preference:link, a.d2-link-preference:active, a.d2-link-preference:visited
	{
	
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

a.d2-link-preference:hover,a.d2-link-lite:hover,a.d2-link-home:hover {
	text-decoration: none;
	color:#000;
	cursor:pointer;
	background-color:orange;
}
.d2-link-back {
	background-image: url(../images/ico_back.gif);
	background-repeat: no-repeat;
	color: #fff;
	text-decoration: none;
	background-position:10px 50%;
	padding-left: 30px;
	padding-right:10px;
	height: 26px;
	line-height:26px;
	display:block;
	font-size:12px;
}

a.d2-link-back:link, a.d2-link-back:active, a.d2-link-back:visited
	{
	
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

a.d2-link-back:hover {
	text-decoration: none;
	color:#000;
	cursor:pointer;
	background-color:orange;
	
}

.d2-link-delete {
	background-image: url(../images/delete.gif);
	background-repeat: no-repeat;
	color: #fff;
	text-decoration: none;
	background-position:10px 50%;
	padding-left: 30px;
	padding-right:10px;
	height: 26px;
	line-height:26px;
	display:block;
	font-size:12px;
}

a.d2-link-delete:link, a.d2-link-delete:active, a.d2-link-delete:visited
	{
	
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

a.d2-link-delete:hover {
	text-decoration: none;
	color:#000;
	cursor:pointer;
	background-color:orange;
	
}
.d2-link-report {
	background-image: url(../images/ico_report.gif);
	background-repeat: no-repeat;
	color: #fff;
	text-decoration: none;
	background-position:10px 50%;
	padding-left: 30px;
	padding-right:10px;
	height: 26px;
	line-height:26px;
	display:block;
	font-size:12px;
}

a.d2-link-report:link, a.d2-link-report:active, a.d2-link-report:visited
	{
	
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

a.d2-link-report:hover {
	text-decoration: none;
	color:#000;
	cursor:pointer;
	background-color:orange;
	
}

.d2-link-excel {
	background-image: url(../images/ico_excel.gif);
	background-repeat: no-repeat;
	color: #fff;
	text-decoration: none;
	background-position:10px 50%;
	padding-left: 30px;
	padding-right:10px;
	height: 26px;
	line-height:26px;
	display:block;
	font-size:12px;
}

a.d2-link-excel:link, a.d2-link-excel:active, a.d2-link-excel:visited
	{
	
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

a.d2-link-excel:hover {
	text-decoration: none;
	color:#000;
	cursor:pointer;
	background-color:orange;
	
}

.d2-link-none {
	background-repeat: no-repeat;
	color: #fff;
	text-decoration: none;
	background-position:10px 50%;
	padding-left: 30px;
	padding-right:10px;
	height: 26px;
	line-height:26px;
	display:block;
	font-size:12px;
}

a.d2-link-none:link, a.d2-link-none:active, a.d2-link-none:visited
	{
	
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

.d2-link-none:hover{
	text-decoration: none;
	color:#000;
	cursor:pointer;
	background-color:orange;
	
}

.d2-menuitem {
	background-repeat: no-repeat;
	color: #fff;
	text-decoration: none;
	background-position:10px 50%;
	height: 26px;
	line-height:8px;
	display:block;
	font-size:12px;
	text-align: left;
}

a.d2-menuitem:link, a.d2-menuitem:active, a.d2-menuitem:visited
	{
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}

.d2-menuitem:hover{
	text-decoration: none;
	color:#000;
	cursor:pointer;
	background-color:orange;
	
}

.rich-table-cell {
	border: 1px solid #9CC0EE;
	height: 14px;
	line-height: 14px;
	vertical-align: middle;
	font-size: 11px;
	padding: 2px 3px;
	
}
input{
border:1px solid #77A194;
}


.rich-panelbar-header-act {
	background-image:none;
	background-color: #CDE2FC;
	color: #033A73;
	padding: 3px 5px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.main_header{
height:50px;
background-color: #fff;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

	.d2-link-holder a{
	float:right;
	height:24px;
	}
	.d2-link-d2meeting {
	background-image: url(../images/ico-d2meeting.gif);
	padding-left: 30px;
	}
		.d2-link-d2knowledge {
	background-image: url(../images/ico-d2knowledge.gif);
	padding-left: 28px;
	}
		.d2-link-d2techforum {
	background-image: url(../images/ico-techforum.gif);
	padding-left: 35px;
	}
	.d2-link-d2intranet {
	background-image: url(../images/ico-d2intranet.gif);
	padding-left: 35px;
	}
	.d2-link-d2calendar{
	background-image: url(../images/ico-calendar.gif);
	padding-left: 35px;
	}
	.d2-link-d2poll {
	background-image: url(../images/ico-poll.gif);
	padding-left: 35px;
	}
	
.d2-link-d2meeting,.d2-link-d2knowledge,.d2-link-d2techforum,.d2-link-d2intranet,.d2-link-d2calendar,.d2-link-d2poll {
	background-repeat: no-repeat;
	color: #333;
	text-decoration: none;
	background-position:10px 50%;
	height: 22px;
	line-height:22px;
	display:block;
	font-size:11px;
	margin-top:10px;
}


.button{
	background:#FEFEFF url(../images/button.gif) bottom repeat-x;
	border:1px solid #77A193;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	height:23px;
	color: #022D64;
	margin: 0px;
	padding: 2px 10px;
	font-size: 11px;
	cursor:pointer}/*for customized button */
	
	
.button_hover{
	background:#F6EFE6 url(../images/button_hover.gif) top repeat-x;
	border:1px solid #77A193;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	height:23px;
	color: #022D64;
	margin: 0px;
	padding: 2px 10px;
	font-size: 11px;
	cursor:pointer}

div#nav-toggler {
	/*height: 429px;*/
	background-image: url(../images/panelHanlde-arrow-normal.gif);
	background-repeat:no-repeat;
	background-attachment: scroll;
	background-position: center;
	background-color:#95BBEC; width:8px; float:right;
	/*border-style:none dotted none none;*/
	border-top:1px solid #95BBEC;
	border-bottom:1px solid #95BBEC;
	cursor: pointer;
	/*float:left;*/ /*margin:1em 3px 0pt 1px;*/
	margin: 0pt;
	/*display:table;*/
}

.navHover
{
background-color:#B5CFF2;
}

.navOut
{
background-color:#95BBEC;
}

.nav-toggler-wrap {
	float: left;
	background-image: url(../images/panelbg.gif);
	background-repeat: repeat-y;
	margin-top: 1px;

}


div#nav-toggler.hover {
	height: 100%;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	border: 1px solid #7693B9;
	cursor: pointer;
	float: left;
	width: 8px;
	height: 100%;
}

#nav-toggler.hide-nav {
	background-image: url(/d2/images/closepanel.gif);
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	width: 8px;
	height: 100%;
}

.rich-panelbar-content{
padding:0px;
margin:0px;
}

.rich-panelbar
{
border:1px solid #6B9EE4;
}

.rich-calendar-header
{

}

.calendarHolder
{
margin:0; padding:3px 3px 3px 3px;
width:200px;
}

.d2T-padL10{
padding:0 10px ;
width: auto;
}

.d2T-weekdate{
color:#003066;
text-align:center;
font-size:12px;
font-weight:bold;
padding:5px;
}

.d2T-weekTotal{
color:#003066;
text-align:right;
font-size:12px;
font-weight:bold;
padding:5px;
vertical-align:top;
}


div#header h1.logoLink
{
border:1px solid red;
text-indent:-9999px;
width:213px;
height:44px;

}


.logoPart
{
text-indent:-9999px;
height:50px;
background: url(/images/logo.gif) 6px 6px no-repeat;
width:400px;
}

.logoPart a{
	display:block;
	width:400px;
	height:50px;
	outline:none;
}
.rightPart {
color:#20428C;
font-size:11px;
height:20px;
padding:0 8px 0 0;
text-align:right;
vertical-align:bottom;
}

#bannerTable
{
background-color:#FFFFFF;
}
.orange
{
background-color:#F37B20;
font-size:1px;
}

.rightPanel
{clear:right; padding:0 2px 0 0;}

#footerStyle
{
font-family:Verdana, Arial, Helvetica, sans-serif;
background-color:#8AACA1;
height:15px;
padding:5px;
font-size:9px;
color:#F4FFFC;
}

.centerTxt
{
display:block; text-align:center;
}

.rich-mpnl-header {
color:#fff;
font-family:Arial,Verdana,sans-serif;
font-size:12px;
font-weight:bold;
background:#3B6198 url(../images/mainmenubg.gif) top repeat-x;
border:#BED6F8 solid 1px;
padding:4px 0 0 4px;
vertical-align:middle;
height:20px;
}

.closeBtn
{
cursor:pointer;
padding:4px 4px 0 0;
}

.rich-mpnl-body {
color:#000;
font-family:Arial,Verdana,sans-serif;
font-size:12px;
}

.mpnl-option
{
font:bold 11px Arial,Verdana,sans-serif; color:#022D64; padding-right:5px;
}



/*element.style {
height:202px;
left:4px;
opacity:0.5;
top:4px;
width:302px;
}*/
.rich-mpnl-shadow {
height:202px;
left:4px;
opacity:0.1;
top:4px;
width:302px;
background-color:#000000;
border-color:green;
}
/*.dr-mpnl-shadow {
border:1px solid;
height:100%;
position:absolute;
width:100%;
z-index:1;
}*/

.rich-table-footercell
{
border:1px solid #9CC0EE;
color:#000000;
font-family:Arial,Verdana,sans-serif;
font-size:11px;
font-weight:bold;
padding:4px;
text-align:left;
}

.rich-table-footer
{
background-color:#fff;
}

.boldFont
{
font-weight:bold;
}

#nav-cal
{
width:180px; float:left; border:0px solid #6B9EE4; /*display:table;*/
}

#nav-cal-right
{
width:250px; float:right; border:0px solid #6B9EE4; /*display:table;*/
}

.paddingTop10
{
padding-top:10px;
}

#rightPortion
{
margin:0; padding:0;
margin-left:211px;
}

.dropDown_leave
{
width:120px;
}

.dropDown_phase
{
width:85px;
font-size:11px;
}

.dropDown_activity
{
width:100px;
font-size:11px;
}


.rich-calendar-header
{
text-align:center;
}




.rtAlign_text
{
text-align:right; padding-right:2px; width:88%;
}

.total_text
{
font-weight:bold; text-align:right; display:block; width:31px
}

.dropDown_project_list
{
width:300px
}


.dropDown_client
{
width:98%;
}

.dropdown_none{
}


.dropdown_box
{
	position:relative; 
	width:200px;
	overflow-x:hidden; 
	overflow-y:visible;
}
.headerTitle{
	font-weight:bold;
	font-size: 14px;
	color:#033A73;
	}
	
.headerCustomWidth{
	width:200px;
	}

.headerCustomWidth0{
	width:55px;
	}

.reportSecion
{
width:190px;
border:1px solid red;
}

.reportPart
{
border:1px solid #6B9EE4; margin-top:10px;
width:780px;
}

.title_bg
{
background:#ABC8E2;
background: url(../images/headerbgpx.gif) repeat-x;
display:block;
width:776px;
margin:0; padding:2px 0 0 0;
height:20px;
}

.reportSummary
{
width:780px;
border-top:1px solid #9CC0EE;
border-left:1px solid #9CC0EE;
}

.dataTableLayout
{
border-top:1px solid #9CC0EE; border-left:1px solid #9CC0EE;
/*display:table;*/
}

/*==========login page starts==========*/
#wrapper_login{
	border-bottom:1px solid #617871;
	clear:both;
	background-color:#fcfcfc;
	overflow: auto;
	padding-bottom:20px;
	height:490px;
	}/* wrapper for login and welcomepage*/
.orange
{
background-color:#F37B20;
font-size:1px;
}
.blueBar
{
height:26px;
background:url(../images/mainmenubg.gif) repeat-x;
}
#loginBox{
margin:50px auto 0 auto;
width:350px;}/* for right holder in login page*/

/*------------login_table---------------*/
#login_table_head{
background:#C3DBFE url(../images/login_ttl_bgpx.gif) repeat-x;
width:350px;
margin:0;
padding:0;
float:right;
height:35px;
}/* table head of the login table*/
	
.loginfo_text{
color:#004275;
font-weight:bold;
font-size:13px;
text-align:left;
float:left;
vertical-align:middle;
text-align:left;
padding:10px 0px 0px 6px;
}
#login_table_body{
padding:15px 0px 10px 0px;
margin:0;
border: 1px solid #7FA5D5;
border-top:0;
background-repeat:repeat-x;
width:348px;
float:right;
background:url(../images/login_bot_bgpx.gif) bottom repeat-x
/*for login table body*/
}
.left_padding{
	padding:0px 20px 4px 20px;}
.loginput{
	border:1px solid #919191;
	padding:0px 0px 0px 2px;
	vertical-align:middle;
	height:18px;
	width:150px;}/*for input text with background*/	
.button{
	background:#FEFEFF url(../images/button.gif) bottom repeat-x;
	border:1px solid #919191;
	height:23px;
	padding:0px 8px 0px 8px;
	font-size:10px;
	letter-spacing:1px;
	cursor:pointer}/*for customized button */
.button_hover{
	background:#F6EFE6 url(../images/button_hover.gif) top repeat-x;
	border:1px solid #919191;
	height:23px;
	padding:0px 8px 0px 8px;
	font-size:10px;
	letter-spacing:1px;
	cursor:pointer}/*for customized button */
/*==========login page ends==========*/

/* CSS from default.css */

.normalLink{
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
	color: #1a1a1a;
	text-decoration: none;
    padding:2px;
}/*Normal text with the Links*/
.normalLink:hover{
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
	color: #1a1a1a;
	text-decoration: underline;
    padding:2px;
}/*Normal text with the Hover effect*/

form{
	padding:0;
	margin:0;
}/*standarizing the forms with padding and margin as 0*/
input{
	padding:0;
	margin:0;
}/*standarizing the input with padding and margin as 0*/
#_Loading{
	background-color:#F1F7FE;border:1px solid #BED6F8;}
	
.deleteBtn{
	width:13px;
	color: #003064;
	text-decoration: none;
	padding:3px 0px;
	display:block;
	font-size: 11px;
	border:0;
	cursor:pointer;
	background: url(../images/delete.gif) no-repeat;
	}
	
.checkBtn{
	width:13px;
	color: #003064;
	text-decoration: none;
	padding:0px;
	display:block;
	font-size: 11px;
	border:0;
	cursor:pointer;
	}
		
.copyBtn{
	width:13px;
	color: #003064;
	text-decoration: none;
	padding:3px 0px;
	display:block;
	font-size: 11px;
	border:0;
	cursor:pointer;
	background: url(../images/rowcopy.jpg) no-repeat;
	}
	
.upBtn{
	width:13px;
	color: #003064;
	text-decoration: none;
	padding:3px 0px;
	display:block;
	font-size: 11px;
	border:0;
	cursor:pointer;
	background: url(../images/icon_up.gif) no-repeat;
	}
	
.downBtn{
	width:13px;
	color: #003064;
	text-decoration: none;
	padding:3px 0px;
	display:block;
	font-size: 11px;
	border:0;
	cursor:pointer;
	background: url(../images/icon_down.gif) no-repeat;
	}	
/* Below this code are imported from default1.css and include class for default element */
.normalLink {
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
	color: #1a1a1a;
	text-decoration: none;
	padding: 2px;
}  /*Normal text with the Links*/
.normalLink:hover {
	font: 8pt Verdana, Arial, Helvetica, sans-serif;
	color: #1a1a1a;
	text-decoration: underline;
	padding: 2px;
}  /*Normal text with the Hover effect*/


body {
	font: normal x-small Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	BACKGROUND-COLOR: #ffffff;
	margin-top: 0px;
	/*	margin: 0px 2px 4px 4px;*/ /*	padding: 0px 2px 4px 4px;*/
	cursor: default;
	width:100%;
}

form {
	padding: 0;
	margin: 0;
}  /*standarizing the forms with padding and margin as 0*/
input {
	padding: 0;
	margin: 0;
}  /*standarizing the input with padding and margin as 0*/

iframe {
	padding: 5px 0 0 0;
	margin: 0 0 0 0;
}
a {
outline: none;
}
img
{
	  border-style: none;
}

/*==========login page starts==========*/
#wrapper_login{
	border-bottom:1px solid #617871;
	clear:both;
	background-color:#fcfcfc;
	overflow: auto;
	padding-bottom:20px;
	height:490px;
	}/* wrapper for login and welcomepage*/


.logoPart
{
height:50px;
background: url(/images/logo.gif) 6px 6px no-repeat;
}

.orange
{
background-color:#F37B20;
font-size:1px;
}

.blueBar
{
height:26px;
background:url(../images/mainmenubg.gif) repeat-x;
}

#loginBox{
	margin:50px auto 0 auto;
	width:350px;
	}/* for right holder in login page*/
	
	
/*------------login_table---------------*/
#login_table_head{
    background:#C3DBFE url(../images/login_ttl_bgpx.gif) repeat-x;
	width:350px;
	margin:0;
	padding:0;
	float:right;
	height:35px;
	}/* table head of the login table*/
		
.loginfo_text{
	color:#004275;
	font-weight:bold;
	font-size:13px;
	text-align:left;
	float:left;
	vertical-align:middle;
	text-align:left;
	padding:10px 0px 0px 6px;
	}
		
#login_table_body{
	padding:15px 0px 10px 0px;
	margin:0;
	border: 1px solid #7FA5D5;
	border-top:0;
	background-repeat:repeat-x;
	width:348px;
	float:right;
	background:url(../images/login_bot_bgpx.gif) bottom repeat-x
	}/*for login table body*/
	
		
.left_padding{
	padding:0px 20px 4px 20px;}
	
/* form elements*/
.loginput{
	border:1px solid #919191;
	padding:0px 0px 0px 2px;
	vertical-align:middle;
	height:18px;
	width:150px;}/*for input text with background*/
	
.btnLoginPad
{
padding:7px 0 0 5px;
}

.errorMsg{
	color:red;
	padding-bottom:8px;
	font-weight:bold;
	}
.infoMsg{
	color:green;
	padding-bottom:8px;
	font-weight:bold;
	}	
.hideColumn{
	display:none;
	}
.showColumn{}

.customizePanelShow
{
display:block;border:1px solid #9BC0EC; margin-bottom:10px; padding:8px 0 8px 5px; width:347px; background:#C7DCF9 url(../images/headerbgpx.gif) top repeat-x;
}

.rich-table-headercell-lite{
	padding: 2px 2px;
	width:200px;
	color: #022D64;	
	border: 1px solid #9BC0EC;
	vertical-align: middle;
	text-align:center;
	
}

.rich-filter-input{
border-color:#77A194 -moz-use-text-color;
border-style:solid none;
border-width:1px 0;
font-size:12px;
height:16px;
width:100%;
}

.simpleTogglePanel{
	font-size:16px;
	text-align: center;
}

.rich-tool-tip{
    background-color: #EEF2F8;
    border: 1px solid #C8E2FF;
}

.status_1
{
	background-color: #008000;
}

.status_2
{
	background-color: #FFFF00;
}

.status_3
{
	background-color: #FF0000;
}

 .cols{
            vertical-align:top;
        }

